.swiper-button-next,
.swiper-button-prev {
  /* background-color: white; */
  /* background-color: rgba(255, 255, 255, 0.5); */

  right: 10px;
  padding: 30px;
  margin: -25px;
  /* color: #000 !important; */
  color: black !important;
  fill: black !important;
  stroke: black !important;
}

@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    /* background-color: white; */
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* margin-right: 20px; */
    padding: 20px;
    margin: -20px;
    /* color: #000 !important; */
    color: black !important;
    fill: black !important;
    stroke: black !important;
    font-size: 10px !important;
    --swiper-navigation-size: 30px;
  }
}

.swiper-container {
  overflow: visible;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
